body {
	background-image: url(img/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
	background-size: cover; 
}

main {
	max-width: 600px;
	margin: 10% auto;
	text-align: center;
	background-color: white;
	opacity: 0.8;
	border-radius: 10px;

}
h1 {
	padding-top: 20px;
}

button {
	border-radius: 5px;
	width: 100px;
	font-size: 20px;
	margin: 15px;
}
 
 #countries {
 	font-size: 20px;
 }
